@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    width: 500px;
    border: solid 50px blue;
    border-radius: 50px;
    margin-top: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    margin-left: 10px;
    color: blue;
}
.contador{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
span{
    font-size: 20px;
}
.bt{
    border-radius: 10px;
    width: 30px;
    color: blue;
    background-color: rgb(43, 255, 0);
}
